[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-hack"]
	path = .vim/bundle/vim-hack
	url = https://github.com/hhvm/vim-hack.git
